# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary / backup files
*.bak
*.tmp

# Large datasets
data/*.csv

# Large model backup files
models/*.bak-*